@import settings

@import foundation/components/type
@import foundation/components/grid
@import foundation/components/buttons
@import foundation/components/forms

@mixin linear-top-bottom-gradient($color1, $color2)
  background: $color1
  background: -moz-linear-gradient(top, $color1 0%, $color2 99%) // FF3.6+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(99%,$color2)) //
  background: -webkit-linear-gradient(top, $color1 0%,$color2 99%) // Chrome10+,Safari5.1+
  background: -o-linear-gradient(top, $color1 0%,$color2 99%) // Opera 11.10+
  background: -ms-linear-gradient(top, $color1 0%,$color2 99%) // IE10+
  background: linear-gradient(to bottom, $color1 0%,$color2 99%) // W3C
  
.postfix-round .postfix
  border-top-right-radius: 1000px
  border-bottom-right-radius: 1000px

.prefix-round .prefix
  border-top-left-radius: 1000px
  border-bottom-left-radius: 1000px

#xmascHeader
  height: 383px
  background: url(../img/header.jpg) no-repeat center center

.magellan-wrapper
  height: 80px
  margin: 20px 0 0

#impForm
  margin: 0 auto
  padding: 1rem 0 0
  width: 100%
  text-align: center
  background-color: white

  &.magellan
    margin: 0 auto
    position: fixed
    z-index: 99
    top: 0
    border-bottom: 1px solid #999
    box-shadow: 0 0 15px 2px #999
    transition: 2000ms ease-in-out background-color
    background-color: #ffd

.imps
  list-style-type: none
  margin: 0
  padding: 0

  li:not(.empty)
    font-size: 1.5em
    font-weight: bold
    padding: 1em

    margin: 1em 0

    border: 1px solid #444
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .5)
    border-radius: 5px

    color: #333

    cursor: pointer

    small
      color: #666

    &, small
      text-shadow: 0 0 20px white

    &:nth-child(n)
      $bg-color2: #f66
      $bg-color: lighten($bg-color2, 10%)
      @include linear-top-bottom-gradient($bg-color, $bg-color2)

      &:hover
        @include linear-top-bottom-gradient(lighten($bg-color, 10%), lighten($bg-color2, 10%))

    &:nth-child(2n)
      $bg-color2: #66f
      $bg-color: lighten($bg-color2, 10%)
      @include linear-top-bottom-gradient($bg-color, $bg-color2)

      &:hover
        @include linear-top-bottom-gradient(lighten($bg-color, 10%), lighten($bg-color2, 10%))

    &:nth-child(3n)
      $bg-color2: #6f6
      $bg-color: lighten($bg-color2, 10%)
      @include linear-top-bottom-gradient($bg-color, $bg-color2)

      &:hover
        @include linear-top-bottom-gradient(lighten($bg-color, 10%), lighten($bg-color2, 10%))

    &:nth-child(4n)
      $bg-color2: #f6f
      $bg-color: lighten($bg-color2, 10%)
      @include linear-top-bottom-gradient($bg-color, $bg-color2)

      &:hover
        @include linear-top-bottom-gradient(lighten($bg-color, 10%), lighten($bg-color2, 10%))
