<h1 style="font-family: Georgia, serif;">Hallo Lieber Wichtel <strong><%= @imp %></strong>,</h1>

<p style="font-family: Georgia, serif; font-size: 16px;">
  Es ist soweit die Ergebnisse für den <strong>HHUFSCS Weihnachtskalender 2014</strong> sind fertig berechnet. Ab jetzt geht es los.
</p>
<p style="font-family: Georgia, serif; font-size: 16px;">
  Du kannst die Ergebnisse ab jetzt <a href="http://xmasc.herokuapp.com">hier</a> einsehen.
<p style="font-family: Georgia, serif; font-size: 16px;">
  Deine Türchennummer im <strong><%= @calendar %></strong> Kalendar lautet:
</p>
<div style="background: url(http://i.imgur.com/Kk7F4g9.png) no-repeat center center; background-size: 300px 300px; height: 300px; font-weight: bold; font-size: 3.5em; font-family: Georgia, serif; text-align: center; line-height: 300px"><%= @tuerchen %></div>
