<img src="http://i.imgur.com/On1YSqs.png" style="float: left; width: 300px; height: auto;" align="left">
<h1 style="font-family: Georgia, serif;">Hallo Lieber Wichtel <strong><%= @imp %></strong>,</h1>

<p style="font-family: Georgia, serif; font-size: 16px;">
  Herzlich Willkommen beim <strong>FSCS Weihnachtskalender <%= Date.today.strftime("%Y") %></strong>.
</p>
<p style="font-family: Georgia, serif; font-size: 16px;">
  Du kannst deine Türnummer <a href="http://xmasc.hhu-fscs.de">hier</a> einsehen. Sie wird dort ab dem <strong>1. Dezember <%= Date.today.strftime("%Y") %></strong> sichtbar sein.
<p style="font-family: Georgia, serif; font-size: 16px;">
  Um dir die Zeit zu vertreiben, begeistert dich bis dahin ein Countdown und das Foto eines überaus attraktiven Weihnachtswichtels.
</p>
