<a {{action "authenticate"}} id="authLink"></a>
<div class="wrapper row">
  <div class="small-11 columns">
  <header id="xmascHeader" class="row">
    <img src="img/header.jpg">
  </header>
  </div>
</div>
<div class="wrapper row">
  <div class="small-11 columns text-center">
    {{outlet}}
  </div>
</div>
